body {
	background-color: #f2f2f2;
	text-align: center;
}

#startExam {
	heigth: 300px;
	width: 500px;
	text-align: center;
	border: 3px solid #ffaa00;
	border-radius: 5px;
	background-color: white;
	padding: 25px;
	margin: auto;
}

input.start {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 18px 40px;
	text-decoration: none;
	margin: 8px 2px;
	cursor: pointer;
}

p {
	font-family: "Arial";
	font-size: 20px;
	text-align: left;
	margin: 13px 90px;
	font-weight: light;
}

p.title {
	font-size: 27px;
	text-align: center;
	margin: 14px 90px;
	font-weight: 600;
}

#startExam {
	text-align: center;
}

.detail-car-table {
	font-family: "BPG mrgvlovani";
	font-size: 11px;
	font-weight: normal;
	color: #34495e;
	background: #fdfdfe;
	margin: 8px 0 8px 0;
	width: 100%;
	border-collapse: collapse;
}

.detail-car-table .th-left {
	border: 1px solid #edeef0;
}

.detail-car-table th {
	width: 53%;
	border-bottom: 1px solid #EDEEF0;
	padding: 3px 3px 4px 3px;
}

.th-left .th-key {
	width: 53%;
}

.th-key {
	overflow: visible;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.th-key, .th-value {
	font-weight: normal;
	float: left;
	text-align: right;
	width: 60%;
	padding: 0 10px 0 0;
	height: 100%;
	font-size: 11.5px;
	box-sizing: border-box;
}

.th-value {
	padding: 0 0 0 10px;
	text-align: left;
	width: 40%;
	font-weight: bold;
	/*text-transform:uppercase;*/
}

.th-left .th-value {
	width: 47%;
}

.disabledfield {
	cursor: default;
	border: none;
	background: white;
}

.visibletextbox {
	background: #FCF5D8;
	border: 2px solid;
}

.sublecturerslist {
	padding: 0px;
}

.fa-minus:before {
	content: "\f068";
}

#sublecturerslist button, .customlist button {
	width: 18px;
	height: 18px;
	text-align: center;
	padding: 1px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	background-color: red;
	border-color: red;
	border: 1px solid transparent;
}



#sublecturerslist i, .customlist i {
position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}



.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.btn-circle {
	width: 18px;
	height: 18px;
	text-align: center;
	padding: 1px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 50%;
}

.btn-remov {
	color: rgb(255, 255, 255);
	background-color: red;
	border-color: red;
	border: 1px solid transparent;
}

.hiddencb {
	display: none;
}